#gkComponentInfo {
    margin: 0 12px;
}
.filterInput input{
    width:98%;
    margin-bottom: 5px;
}
.sortable th{
    background-color: #3D77B1;
}
.svidDopInfoTable{
    margin-left: 4pt;
    border: solid 1px #DDD;
}
.svidDopInfoTable th{
    background-color: #3D77B1;
}
.gkWrap { width: 1000px!important; }
html { min-width: 1000px!important; }
body,
#gkPage .box.small > div > h3.header,
#gkPage .box_text.small > div > h3.header,
#gkPage .box_menu.small > div > h3.header,
#gkBottomWrap .box > div > h3.header,
#gkPage .box.advert h3.advert { font-family: Arial, Helvetica, sans-serif; }

#gkMainMenu > div > ul > li > a,
#gkPage .box > div > h3.header,
#gkPage .box_menu > div > h3.header,
#gkPage .box_text > div > h3.header,
ul.gkTabs li,
.gkTabsWrap.vertical ol li,
h1, h2, h3, h4, h5,
#gkMainMenu > div > ul div.childcontent .group-title,
.button,
button,
button.button,
input[type=submit],
input[type=button],
.pagenav-next a,
.pagenav-prev a,
table th,
legend,
.tip-title,
div.pagination ul li a,
div.pagination ul li span,
div.k2Pagination ul li a,
div.k2Pagination ul li span,
div.header .nspLinks ul li h4,
#article-index ul li a,
#jsMenu .jsMenuBar > ul > li > a,
#community-wrap div.profile-info .contentheading,
#community-wrap div.greybox div.joinbutton,
body #community-wrap div.profile-toolbox-bl ul.small-button li,
ul.profile-details li.title,
div.ctitle,
#community-wrap .latest-events .jsEvDate,
#community-wrap .cModule.latest-events .jsDetail b a,
body #community-wrap ul#featurelist li,
#community-wrap h1,
#community-wrap h2,
#community-wrap h3,
#community-wrap h4,
#community-wrap .cModule h3 span,
#cWindow #cWindowAction input.button,
#community-wrap .clabel,
#community-wrap .cTabsBar ul li a,
#community-wrap .album-name,
#cWindowContentTop #cwin_logo,
#community-wrap .label,
#community-wrap .cVideoTitle,
#community-wrap .joms-newsfeed-more,
#cWindowAction .button,
#community-wrap #cFeatured.forPeople .cFeatured-Name a,
a.plupload_button { font-family: Arial, Helvetica, sans-serif; }
.debug{
    display:none;
}

.label {
    padding: 0px 10px 0px 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 1em; /* for mozilla-based browsers */
    -webkit-border-radius: 1em; /* for webkit-based browsers */
    border-radius: 1em; /* theoretically for *all* browsers*/
}

.label.lightblue {
    background-color: #99CCFF;
}

#external_filter_container_wrapper {
    margin-bottom: 20px;
}

#external_filter_container {
    display: inline-block;
}
.yadcf-filter-reset-button{
    display: none!important;
}
.yadcf-filter{
    width: 90%;
}
#example_filter{
    display:none!important;
}
html,body{
    background: none!important;

}
.dataTable input {
    min-width: 50px!important;

}

.sizeString {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}

.logo{
    margin-top: -110px;
}
.myTable{
    width: 100%;
    background: #FFF;
}

.myTable tr{
    border: none;
}
.myTable td{
    border: none;
    padding: 0px;
}

.hideAbount{
    display:none;
}
#aboutHidden {
    line-height: 1.5;
    margin-bottom: 10px;
}