/*
#------------------------------------------------------------------------
# The World News II -July 2011 template (for Joomla 1.6/1.7)
#
# Copyright (C) 2007-2011 Gavick.com. All Rights Reserved.
# License:  Copyrighted Commercial Software
# Website:  http://www.gavick.com
# Support:  support@gavick.com
 */
#gkMainMenu > div > ul > li {
	height: 39px;
}


#gkMainMenu > div > ul > li:hover,#gkMainMenu > div > ul > li.active {
	background: transparent url('../images/style1/menu_item.png') repeat-x center bottom;
}

#gkMainMenu > div > ul > li:hover > a {
	color: #fff;
}

#gkMainMenu > div > ul > li > a {
	padding: 0 22px 0 22px;
	display: block;
	height: 39px;
	font-size: 18px;
	line-height: 40px;
	background: transparent url('../images/style1/menu_separator.png') no-repeat right top;
	text-shadow: -1px -1px 0 #3d77b1;
	color: #fff;
}

#gkMainMenu > div > ul > li.active > a > span {
	background: transparent url('../images/menu_active.png') no-repeat center top;
}

#gkMainMenu > div > ul div.childcontent {
	padding-top: 4px;
	background: transparent;
}

#gkMainMenu > div > ul div.childcontent-inner-wrap {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 8px 8px; 
	background: #0a8bc8 repeat-x 0 0;
	width: 2000px; 	

	-webkit-box-shadow: 0 2px 2px #1b1b1b;
	-moz-box-shadow: 0 2px 2px #1b1b1b;
	box-shadow: 0 2px 2px #1b1b1b;
	border-bottom: 1px solid #4d4d4d;
	padding: 16px 24px 20px 0; 
}

#gkMainMenu > div > ul div.childcontent-inner {
	overflow: hidden;
	width: 2000px;
}

#gkMainMenu > div > ul div.childcontent div.childcontent {
	margin-top: -25px;
	padding-top: 2px !important;
}


div.gk-menu > ul.level0 > li > .childcontent .gkcol {
	padding-bottom: 0px;
}

#gkMainMenu > div > ul div.childcontent a,#gkMainMenu > div > ul div.childcontent span {
	font-size: 11px; 
	color: #ffffff;
	// white-space: nowrap; 
	
}

#gkMainMenu > div > ul div.childcontent li {
	padding: 0 24px;
	min-height: 24px;
	line-height: 24px;
}

#gkMainMenu > div > ul div.childcontent li.group {
	padding: 0;
	height: auto;
}

#gkMainMenu > div > ul div.childcontent li > a,#gkMainMenu > div > ul div.childcontent li > span {
	display: block;
	min-height: 24px;
	color: #fff;
	text-shadow: 0 0px 0 #000;
	padding-left: 16px;
	background: transparent url('../images/separator_dark.png') no-repeat left 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#gkMainMenu > div > ul div.childcontent li.active > a,#gkMainMenu > div > ul div.childcontent li.active > span,#gkMainMenu > div > ul div.childcontent li:hover > a,#gkMainMenu > div > ul div.childcontent li:hover > span,#gkMainMenu > div > ul div.childcontent li > a:hover,#gkMainMenu > div > ul div.childcontent li > span:hover {
	color: #cb260a !important;
}

#gkMainMenu > div > ul div.childcontent li.active > a > span,#gkMainMenu > div > ul div.childcontent li.active > span > span,#gkMainMenu > div > ul div.childcontent li:hover > a > span,#gkMainMenu > div > ul div.childcontent li:hover > span > span,#gkMainMenu > div > ul div.childcontent li > a:hover > span,#gkMainMenu > div > ul div.childcontent li > span:hover > span {
	color: #fff !important;
}

#gkMainMenu > div > ul div.childcontent .group-title {
	padding: 8px 0;
	margin: 0 16px 8px;
	border-bottom: 2px solid #5a5a5a;
}

#gkMainMenu > div > ul div.childcontent .group-title .menu-title {
	font-size: 18px;
	line-height: 18px;
	text-shadow: 0 1px 0 #000;
	display: block;
	color: #fff;
}

#gkMainMenu > div > ul div.childcontent .group-title .menu-desc {
	font-size: 12px;
	line-height: 12px;
	text-shadow: 0 1px 0 #000;
	display: block;
	color: #fff;
}

#gkMainMenu .module p {
	font-size: 12px;
	line-height: 18px;
	color: #fafafa;
	text-shadow: 0 1px 0 #000;
}

/* split menu */
#gkSubmenu {
	height: 31px;
	background: #3b3b3b url('../images/dropline_bg.jpg') repeat-x left bottom;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#gkSubmenu > div > ul {
	float: left;
	font-size: 10px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 30px !important;
}

#gkSubmenu > div > ul li {
	float: left;
	padding: 0 10px 0 14px;
	background: transparent url('../images/separator_dark.png') no-repeat left center;
}

#gkSubmenu > div > ul li a {
	line-height: 30px !important;
	color: #fff;
	display: block;
}

#gkSubmenu > div > ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

#gkSubmenu > div > ul li:first-child {
	padding-left: 17px;
	background: none;
}

/* Sub Nav (lv2) */
#gkSubmenu ul li li {
	display: block;
	min-height: 24px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	padding-left: 16px;
	background: transparent url('../images/separator_dark.png') no-repeat left 10px;
	text-transform: uppercase;
	font-weight: bold;
	clear: both !important;
	float: none !important;
}

#gkSubmenu ul li li:first-child {
	background: transparent url('../images/separator_dark.png') no-repeat left 10px !important;
}

#gkSubmenu ul li li > a {
	font-size: 10px;
	color: #fff !important;
}

#gkSubmenu ul li li > a:hover,#gkSubmenu ul li li > a:hover > span {
	color: #cb260a !important;
}

#gkSubmenu ul li ul ul,#gkSubmenu ul li ul ul ul {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#gkSubmenu ul>li.hover>ul {
	display: block;
	height: auto;
	left: auto;
	position: absolute;
}

#gkSubmenu ul ul {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background: #333 url('../images/submenu_bg.jpg') repeat-x 0 0;

	-webkit-box-shadow: 0 2px 2px #1b1b1b;
	-moz-box-shadow: 0 2px 2px #1b1b1b;
	box-shadow: 0 2px 2px #1b1b1b;
	border-bottom: 1px solid #4d4d4d;
	padding: 12px 20px 10px 20px;
}

#gkSubmenu > div > ul > ul {
	margin-left: -20px !important;
}

#gkSubmenu ul ul ul {
	display: none !important;
	left: -999px !important;
}

#gkSubmenu ul ul li:hover>ul {
	margin-left: 200px !important;
	margin-top: -40px !important;
	left: 0 !important;
	display: block !important;
}

#gkSubmenu ul li:hover ul,#gkSubmenu ul li:hover ul ul,#gkSubmenu ul li:hover ul ul ul {
	left: auto;
}